
<div class="bg-blue-50">
<div class="dd bg-blue-50">
  <h1 class=" heading">User Registration Form</h1>
  <div class="formleft">
<form class="for">
        <div class="pa mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="lab sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900" >First name</label>
            <div class="mt-2">
              <input type="text" name="userFirstName" [(ngModel)]="user.userFirstName" id="first-name" autocomplete="given-name" class=" ins block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
          <div class=" last sm:col-span-2 " style="position: relative; ">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
            <div class="mt-2">
              <input type="text" name="userLstName" id="last-name" [(ngModel)]="user.userLstName" autocomplete="family-name" class="ins block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" >
            </div>
          </div>
          <div class="lab sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">User name</label>
            <div class="mt-2">
              <input type="text" name="userName" id="first-name" autocomplete="given-name" [(ngModel)]="user.userName" class=" ins block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="sm:col-span-2 sm:col-start-1 lab">
            <label for="city" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            <div class="mt-2">
              <input type="password" name="password" id="pass" [(ngModel)]="user.password" class=" ins block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" >
            </div>
          </div>
  
          <div class="sm:col-span-2 hi" >
            <label for="region" class="block text-sm font-medium leading-6 text-gray-900">ReType Password</label>
            <div class="mt-2">
              <input type="password" name="repass" id="repass" [(ngModel)]="reEnterPassword"  class="ins block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="sm:col-span-4 lab">
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
            <div class="mt-2">
              <input id="email" name="userEmail" type="email" autocomplete="email" [(ngModel)]="user.userEmail" class="ins block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" >
            </div>
          </div>
          <div class="gg flex">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="Male" [(ngModel)]="user.gender">
            <label class="form-check-label" for="exampleRadios3">
              Male
            </label>
          </div>
          <div class="  form-check">
            <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="Female" [(ngModel)]="user.gender">
            <label class="form-check-label" for="exampleRadios2">
              Female
            </label>
          </div>
          <div class="  form-check">
            <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="Other" [(ngModel)]="user.gender">
            <label class="form-check-label" for="exampleRadios1">
              Other
            </label>
          </div>
          <div class="col-span-full profilephoto bn">
            <label for="photo" class="block text-sm font-medium leading-6 text-gray-900">Photo</label>
            <div class=" flex items-center gap-x-3">
              <svg class="h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
              </svg>
              <input id="file" type="file" (change)="onFileChanged($event)" accept="image/jpg, image/png" class="form-control">
            </div>
          </div>
          </div>
          <div class="col-span-full lab">
            <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900">Contact Number</label>
            <div class="mt-2">
              <input type="text" name="userContactNumber" id="street-address" autocomplete="street-address" [(ngModel)]="user.userContactNumber" class=" inst block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
        </div>
    <div class=" bg-blue-50 space mt-6 flex items-center justify-start gap-x-6">
      <button type="button" class=" bz rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"(click)="goBack()">Cancel</button>
      <button type="button" class=" bz rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"(click)="onSubmit()" >Save</button>
    </div>
  </form>
  <div class="img bg-blue-50">
  </div>
  </div>
</div>
<div class=" h-20"></div>
</div>
<!-- (click)="saveUser()" -->