<div class="flex">
    <app-sidenav-admin></app-sidenav-admin>
    <div>
        <app-navbartop></app-navbartop>
        <div class="main flex" style="gap: 2rem;">
            <div>
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <select id="country" name="country" autocomplete="country-name" class="  block flex-1  py-0 pl-1 cv text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                        <option>Choose Your Search type</option>
                        <option>Photographer User Name</option>
                        <option>Photographer ID</option>
                   
                      </select>
                  </div>
                  
            </div>
                <form class="search-form">
                    <input class="search-input" type="text" placeholder="Enter your catogory">
                    <button class="search-button" type="submit">Search</button>
                  </form>
            </div>





            <div class="details-main" >
                <div class="side-texts">
                    <div class="cb sm:col-span-4">
                        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">User ID No
                            :</label>
                        <div class="mt-2 flex">
                            <label for="user name output" class="out-put ">{{photographerID}}</label>
                        </div>
                    </div>
                    <div class=" cc sm:col-span-4">
                        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">First Name
                            :</label>
                        <div class="mt-2 flex">
                            <label for="user name output" class="out-put "> {{photographerFirstName}}</label>
                        </div>
                    </div>
                    <div class="cc sm:col-span-4">
                        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Last Name
                            :</label>
                        <div class="mt-2 flex">
                            <label for="user name output" class="out-put ">{{photohrapherLastName}}</label>
                        </div>
                    </div>
                </div>
            </div>





            <div class="side-texts" >
                <div class="cb sm:col-span-4">
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">User Name :</label>
                    <div class="mt-2 flex">
                        <label for="user name output" class="out-put "> {{photographerUserName}}</label>
                    </div>
                </div>
                <div class=" cc sm:col-span-4">
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">NIC No
                        :</label>
                    <div class="mt-2 flex">
                        <label for="user name output" class="out-put ">{{photographerNIC}}</label>
                    </div>
                </div>
                <div class="cc sm:col-span-4">
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Email Address :
                    </label>
                    <div class="mt-2 flex">
                        <label for="user name output" class="out-put ">{{photographerEmail}}</label>
                    </div>
                </div>
            </div>





            <div class="side-texts" >
                <div class="cc sm:col-span-4">
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Contact No : </label>
                    <div class="mt-2 flex">
                        <label for="user name output" class="out-put ">{{photogapherContactNumber}}</label>
                    </div>
                </div>
                <div class="cc sm:col-span-4">
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Gender : </label>
                    <div class="mt-2 flex">
                        <label for="user name output" class="out-put ">{{photographerGender}}</label>
                    </div>
                </div>
                
                <div class="cc sm:col-span-4">
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Status : </label>
                    <div class="mt-2 flex">
                        <label for="user name output" class="out-put ">{{photographerStatus}}</label>
                    </div>
                </div>
            </div>





            <div class="flex">
                <div class="cc sm:col-span-4">
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Address : </label>
                    <div class="mt-2 flex">
                        <label for="user name output" class="out-put1 ">{{photographerAddress}}</label>
                    </div>
                </div>
                <div class="mc">
                    <label for="username" class=" font-medium " style="position: relative;margin-left: 20px; ">Job
                        Catogory :</label>
                    <div style="position: relative; margin-left: 50px; margin-top: 26px;  ">
                        <label for="user name output" class="out-put1 "> hello <br>hello<br>hello<br>hello<br>hello
                        </label>
                    </div>
                </div>
                <button type="button" class="btn btn2 btn-warning" (click)="onDelete()">Delete Photographer !</button>


            </div>

            <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let x of Phtographer">
                  <tr>
                    <th scope="row">1</th>
                    <td>{{x.photographerUserName}}</td>
                    <td>{{x.photographerGender}}</td>
                    <td>{{x.photographerEmail}}</td>
                    <td><button type="button" class="btn btn-outline-primary" (click)="testview(x)">View</button> &nbsp; &nbsp;<button type="button" class="btn btn-outline-danger" (click)="onDelete()"  >Delete</button>
                    
                  </tr>
                </tbody>
              </table>


        </div>
    </div>