<app-navibar1></app-navibar1>
<app-navibar2></app-navibar2>
<div class="jumbotron">
    <div class="content">
      <h1 class="main">Hire a Photographer for Your Happy Moment Capturing</h1>
      <h2 class="main1">Book a photoshoot with a professional photographer in Catogorys.</h2>
      <form class="search-form">
        <input class="search-input" type="text" placeholder="Enter your catogory">
        <button class="search-button" type="submit">Search</button>
      </form>
    </div>
  </div>
<div class="backbg-blue-50"></div>
<div class="relative flex isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img src="/assets/cov.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class=" max-w-2xl text-lg">
      <h2 class=" font-bold tracking-tight text-black sm:text-6xl text-lg">Join with us</h2>
      <p class="mt-6 text-lg leading-8 text-black-300">Ceylon Snapperd is a good place for photographers to connect with their clients online and do their business. Customers can choose a good professional photographer of their choice and make their important day beautiful.</p>
    </div>
  </div>
</div>
<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="back bg-blue-50">
  <br><br>
  <div class="corner bg-blue-50">
  <h1> Photography for Every Occasion
  </h1>
  <div class="top"></div>
  <p>  Save your beautiful moments for the rest of your life!</p>
</div>
<div class="bg-blue-50">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6  lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Browse the Catogories</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="/assets/wedding.png" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex ">
          <div>
            <p class=" text-2xl">
              <a href="/weddingCatogory">
                Weddings
              </a>
            </p>
            <p class="mt-1  text-gray-500">Capture your big moments at a favorite destination</p>
          </div>
        </div>
      </div>
      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="/assets/preshoot.png" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex ">
          <div>
            <p class=" text-2xl">
              <a href="/preshootCatogory">
                Preshoot
              </a>
            </p>
            <p class="mt-1  text-gray-500">Capture your big moments at a favorite destination</p>
          </div>
        </div>
      </div>
      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="/assets/birthday.png" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex ">
          <div>
            <p class=" text-2xl">
              <a href="/birthdayshoot">
                Birthday Shoot
              </a>
            </p>
            <p class="mt-1  text-gray-500">Capture your big moments at a favorite destination</p>
          </div>
        </div>
      </div>
      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="/assets/graduvation.png" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex ">
          <div>
            <p class=" text-2xl">
              <a href="/graduvationshoot">
                Graduvation Shoot
              </a>
            </p>
            <p class="mt-1  text-gray-500">Capture your big moments at a favorite destination</p>
          </div>
        </div>
      </div>
      <div class="group relative">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="/assets/single.png" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex ">
          <div>
            <p class=" text-2xl">
              <a href="/singleShoot">
                Single Shoot
              </a>
            </p>
            <p class="mt-1  text-gray-500">Capture your big moments at a favorite destination</p>
          </div>
        </div>
      </div>








      
  </div>
</div>
    
<div class="row bg-blue-50">
  <div class="col-lg-6">
      <img src="/assets/photographer.png" alt="about" class="img-fluid" width="100%">
  </div>
  <div class="col-lg-6">
      <h2>Join as a Pro Photographer </h2>
      <div class="ccc"></div>
      <p class="font-medium">We connect local photographers to customers in search of a professional photoshoot for high-quality and frame worthy photos.</p>
          <div class="buttonsec">
          <a class="cta-btn align-middle" href="/photographersRegistraion" >Register Now</a> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 
          <a class="cta-btn align-middle" href="/logonPhotographer" >Login Your Account</a>
          </div>
  </div>
</div>

<app-footer></app-footer>
 