<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<footer class="hero">
        <div class="container flex">
            <div class="container__about">
                <h2>About</h2>
                <p>A young software developer, starting his professional life, learning the most used languages in this
                    industry, PYTHON, C++, HTML, CSS and JAVASCRIPT.</p>
            </div>
            <div class="container-pages flex">

                <div class="container__recentpages">
                    <h2>Catogories</h2>
                    <ul>
                        <li><a routerLink="/weddingCatogory">Wedding</a></li>
                        <li><a routerLink="/preshoot">Preshoot</a></li>
                        <li><a routerLink="/birthday">Birthday</a></li>
                        <li><a routerLink="/graduvationshoot">Grduations Shoots</a></li>
                        <li><a routerLink="/singleshoot">Single Shoots</a></li>
                    </ul>
                </div>
                <div class="container__more">
                    <h2>Recient Pages</h2>
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/howitwork">How It Work</a></li>
                        <li><a routerLink="/chooseSnipper">Choose Snipper</a></li>
                        <li><a routerLink="/signUp">Sign Up</a></li>
                      
                    </ul>

                </div>
            </div>
        </div>
        <div class="line__separete"></div>
        <div class="by flex">
            <p>Copyright © 2022 All Rights Reserved by Hashith Lakshan By Devoloped.</p>
            <div class="icons">
                <a href="https://t.co/VBNNTjtw3F" class="icon1 icon--instagram">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="#" class="icon1 icon--twitter">
                    <i class="ri-twitter-line"></i>
                </a>
                <a href="linkedin.com/in/brayan-ospina-8bb472243" class="icon1 icon--linkedin">
                    <i class="ri-linkedin-line"></i>
                </a>
                <a href="https://github.com/brayanospina2005/final-project" class="icon1 icon--github">
                    <i class="ri-github-line"></i>
                </a>
            </div>
        </div>

    </footer>